.cards-main {
  display: flex;
  flex-direction: column;
}
.cards-background {
  background-image: url('/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 44vh;
  margin-bottom: 1rem;
}
.frontCard-container,
.backCard-container {
  position: absolute;
  display: inline-block;
}
.backCard-container {
  /* border: 1px solid red; */
  top: 10rem;
  right: 1rem;
}
.frontCard-container {
  top: -5rem;
  right: 8rem;
}
.cardLogo {
  width: 4vw;
  height: auto;
  position: absolute;
  top: 10%;
  left: 6%;
}
.frontCard,
.backCard {
  width: clamp(20rem, 25vw, 25rem);
  height: auto;
  filter: drop-shadow(0 0.1rem 100px rgba(46, 46, 46, 0.4));
}
.backCard {
  /* position: absolute;
  top: 2rem;
  right: 1rem; */
  max-width: 100%;
  display: block;
}
.frontCard {
  /* position: absolute;
  top: 8rem;
  left: 1rem; */
  max-width: 100%;
  display: block;
}
.backCard-container > p,
.frontCard-container > p {
  color: var(--white);
  position: absolute;
  letter-spacing: 0.12rem;
}
.card-cvc {
  top: 44%;
  right: 15%;
  font-size: 1vw;
}
.card-numbers {
  top: 55%;
  left: 8%;
  /* transform: translate(-50%, 10%); */
  font-size: clamp(1vw, 1.75vw, 1.9vw);
}
.card-name {
  bottom: 12%;
  text-transform: uppercase;
  left: 8%;
  font-size: 1vw;
}
.card-date {
  bottom: 12%;
  right: 8%;
  font-size: 1vw;
}

.card-details {
  padding: 0 1.5rem;
}
.card-form {
  display: flex;
  flex-direction: column;
}
.card-form > * {
  /* margin-bottom: 0.5rem; */
}
.card-form label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  margin: 1rem 0 0.75rem;
}
.card-form input {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--lightGrayishViolet);
  font-size: 1.2rem;
  outline: none;
}
.card-form input::placeholder {
  color: var(--darkGrayishViolet);
}
.card-form input:focus {
  border: 1px solid hsl(278, 94%, 30%);
}
.card-form .input-error {
  border: 1px solid var(--redError);
}
.card-date-cvc-container {
  display: flex;
  justify-content: space-between;
}
.card-date-container,
.card-cvc-container {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.card-date-input-container > input,
.card-cvc-container > input {
  width: 100%;
}
.card-date-input-container > input:first-child {
  margin-right: 0.5rem;
}
.card-date-container > label,
.card-cvc-container > label {
  margin-bottom: 1rem;
}
.card-date-input-container {
  display: flex;
  margin: none;
}
.card-button {
  padding: 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--veryDarkViolet);
  color: var(--white);
  cursor: pointer;
}
.card-form .error {
  font-size: 0.8rem;
  color: var(--redError);
  margin-top: 0.5rem;
}
.completeIcon {
  width: 10vw;
  max-width: 5rem;
  height: auto;
  margin: 0 0 1rem;
}
.completed-form h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1rem 0 1rem;
}
.completed-form p {
  color: var(--darkGrayishViolet);
}
.completed-form button {
  width: 80%;
  margin-top: 2rem;
}

@media (min-width: 480px) {
  .cards-main {
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
  }
  .cards-background {
    background-image: url('/images/bg-main-desktop.png');
    background-size: cover;
    min-height: 100vh;
    width: 35%;
    margin: 0;
  }
  .cards-img-container {
    position: absolute;
    top: 30%;
    height: 20%;
    width: clamp(15rem, 50%, 50% + 1rem);
  }
  .cards-img-container > img {
    /* position: absolute; */
    /* width: 50%; */
    /* max-width: 26rem; */
    /* min-width: 15rem; */
    top: 0;
    right: 0;
    left: auto;
  }
  .cards-img-container > .backCard {
    top: 110%;
    right: 0;
  }
  .cards-img-container > .frontCard {
    top: -50%;
    right: 15%;
  }
  .card-details {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .card-form {
    width: 50%;
    justify-content: center;
  }
  .completed-form {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .completed-form div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 480px) and (max-width: 1220px) {
  .card-date-cvc-container {
    display: flex;
    flex-direction: column;
  }
  .card-date-container,
  .card-cvc-container {
    width: 100%;
  }
  .cards-background {
    width: 30%;
  }
  .cards-img-container {
    left: 5%;
  }
  .cards-img-container > .backCard {
    top: 80%;
    right: 5%;
  }
  .cards-img-container > .frontCard {
    top: -10%;
  }
  .card-form {
    width: 60%;
    justify-content: center;
  }
}
